:root {
    --gray-100: #dee2e6;
    --white: #ffffff;
    --blue: #0d6efd;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    padding: 24px;
}

button {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    font-size: 16px;
}

nav {
    display: flex;
    border-bottom: 1px solid var(--gray-100);
    position: relative;
}

.nav::before {
    content: "";
    width: calc(100% + 2px);
    height: 1px;
    background-color: aquamarine;
    position: absolute;
    left: -1px;
    bottom: 0;
    z-index: 11;
}


.tabs {
    border: 1px solid var(--gray-100);
    padding: 16px;
    border-radius: 2px;
}

.tabs__item {
    display: none;
    padding: 8px 0;
}

.tabs__item--show {
    display: flex;
}

.tabs__nav {
    display: inline-flex;
    padding: 8px 16px;
    transform: translateY(2px);
    background-color: var(--white);
    border-radius: 2px;
    position: relative;
}

.tabs__nav::before {
    content: "";
    width: calc(100% + 2px);
    height: 1px;
    background-color: var(--gray-100);
    position: absolute;
    left: -1px;
    bottom: 0;
    z-index: 11;
}

.tabs__nav:hover {
    cursor: pointer;
}

.tabs__nav--active {
    border: 1px solid var(--gray-100);
    border-bottom-color: transparent;
    color: var(--blue);
}

.tabs__nav--active::before {
    background-color: transparent;
}